@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins";
}

body {
  margin: 0;
  height: auto;
  font-size: 3vw;
}

ul {
  text-align: left;
  padding: 35px;
  border-radius: 20px;
  background-color: #0f41b4;
  -webkit-filter: drop-shadow(0px 0px 30px #0b3596);
          filter: drop-shadow(0px 0px 30px #0b3596);
  width: 80%;
  font-size: 2vw;
}

a {
  color: white;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.title.light {
  color: white;
  font-family: "poppins";
  font-weight: bold;
}

.main-title {
  top: 40%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  pointer-events: none;
  text-align: center;
  color: black;
  font-family: "poppins";
  font-weight: bold;
  font-size: 300%;
}

span {
  font-family: "poppins";
  background-color: #225de6;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "poppins";
  text-align: left;
  font-size: 3vw;
  font-weight: 400;
}

.section1 {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  background: white;
  margin: 0;
}

.section2 {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  color: white;
  background-color: #225de6;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
}

p {
  background-color: #1546b9;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 650px) {
  .lists {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lists ul {
    width: 95%;
    font-size: 3vw;
  }
}

